*{
    margin:0;
    padding:0;
}
body{
    margin:0;
    padding:0;
}
main {
    background-color: rgb(13, 15, 15);
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items:center;
}
div{
    width: 50%;
    height: 902%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    position: relative;
}

section{
    background-color:#121f2e75;
    position: absolute;
    top:6%;
    width: 78%;
    height: 56%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width:570px;
    border-radius:16%;
}
img {
    width: 150px;
    height: 150px;
}
.logo{
    width: 40%;
    background-color: rgb(45 38 86 / 71%);
    height: 10%;
    max-width:190px;
    max-height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:10%;
    margin-top:20px;
    z-index: 2;
}
.logo img {
    width: 85%;
}
p {
    color: white;
    width: 71%;
    position: relative;
    top: 5%;
    min-width:400px;
    font-weight:bold;
    font-size:14px;
}

figure.gojo-azul img{
    width: 200px;
    height: 200px;
    object-fit:cover;
}